{% extends 'base.html' %}
{% block content %}
<hr>
<!--Proposal Section -->
<section id="proposal">
    {% if user.is_authenticated%}
    <div class="row">
        {% for b in auction %}
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                {% if b.picture %}
                    <a href="{% url 'auction:single' b.slug %}">
                        <img src="{{b.picture.url}}" class="card-img-top" alt="...">
                    </a>
                 {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ b.title }}</h5>
                    <p class="card-text"></p>
                    <a href="{% url 'auction:single' b.slug %}" class="btn btn-primary">Read More</a>
                </div>
            </div>
            <br>
        </div>

        {% cycle "" "" "</div><hr/><div class='row'>" %}
        {% endfor %}
    </div>
    {% for b in auction %}

    <div class="col-md-4 col-sm-4">
        <!-- Blog Post 02 -->
        <div class="blog-post">
            <h4>{{b.title}}</h4>
            <p>{{ b.tender_description|truncatewords:20 }}</p>
              <div class="post-meta">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <p class="text-left">Published Date; June-9-2019</p>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <p class="text-right">Last Date: June-9-2019</p>
                    </div>
                </div>
            </div>
         <div class="post-meta">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-6">
                        <p class="text-left">Published Date; June-9-2019</p>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-6">
                        <p class="text-right">Last Date: June-9-2019</p>
                    </div>
                </div>
            </div>

            <a href="{% url 'auction:single' b.slug %}">Read more </a>
         </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Login Required!</h4>
        <p>Please signup to view this document</p>
        <hr>
        <p class="mb-0">See you soon!</p>
    </div>
{% endif %}


    <br><br><br><br><br><br>
</section>
<!--News ends-->

<hr>
{% endblock %}
